<div>

    <input
        ng-if="selectAll"
        ng-disabled="{{::isDisabled}}"
        type="checkbox">
    </input>
    <h3>{{::title}}</h3>

    <div
        class="CheckControl"
        ng-class="{
            'is-disabled': isDisabled,
            'is-invalid': form[name].$touched && form[name].$invalid,
            'is-required': isRequired
        }"
        ng-repeat="(key, value) in ::data">

        <input
            class="CheckControl-field"
            id="{{::name}}-{{::key}}"
            name="{{::name}}"
            ng-checked="{{value.checked}}"
            ng-class="{'is-invalid': form[name].$touched && form[name].$invalid}"
            ng-disabled="{{::isDisabled || value.disabled}}"
            ng-required="{{::isRequired || value.required}}"
            value="{{::value.value}}"
            type="checkbox">

        <label
            class="CheckControl-label u-textLabel"
            for="{{::name}}-{{::key}}">
            {{::value.label}}
        </label>

    </div>
</div>
