<div class="CheckControlGroup">

    <div class="CheckControlGroup-title u-textSemibold">

        <rb-check-control-select-all
            name="{{::name}}"
            is-disabled="{{::isDisabled}}"
            is-required="{{::isRequired}}"
            ng-model="options"
            ng-if="enableSelectAll"
            title="{{::title}}">
        </rb-check-control-select-all>

        <label ng-if="!enableSelectAll && title">{{::title}}</label>
    </div>

    <div class="CheckControlGroup-body">
        <div ng-repeat="(key, value) in options">
            <rb-check-control
                is-disabled="{{::isDisabled}}"
                is-required="{{::isRequired}}"
                label="{{::value.label}}"
                name="{{::name}}-{{::key}}"
                ng-model="value.checked"
                value="{{::value.value}}">
            </rb-check-control>
        </div>
    </div>
</div>
