<div
    class="CheckControl"
    ng-class="{
        'is-disabled': isDisabled,
        'is-invalid': form[name].$touched && form[name].$invalid,
        'is-required': isRequired,
        'CheckControl--withIcon': icon,
        'is-checked': ngModel
    }">

    <input
        class="CheckControl-field"
        id="{{::name}}"
        name="{{::name}}"
        ng-checked="ngModel"
        ng-class="{'is-invalid': form[name].$touched && form[name].$invalid}"
        ng-disabled="isDisabled"
        ng-required="{{::isRequired}}"
        ng-model="ngModel"
        value="{{::value}}"
        type="checkbox"/>

    <label
        class="CheckControl-label u-textLabel"
        for="{{::name}}">
        <div ng-if="icon" class="CheckControl-icon"
             ng-class="{'CheckControl-icon--{{icon}}': icon }">
        </div>
        <span class="CheckControl-labelInner">{{::label}}</span>
    </label>
</div>
