/** @define CheckControl; use strict */

/**
 * The `.CheckControl` component...
 */

/**
 * 1. Hide default text selection style.
 */

.CheckControl::selection {
    background: none; /* 1 */
}

/**
 * Modifier: withIcon
 */

.CheckControl--withIcon {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.CheckControl--withIcon .CheckControl-label {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.CheckControl--withIcon .CheckControl-labelInner {
    display: block;
    margin-bottom: 1em;
}

.CheckControl-icon {
    background-repeat: no-repeat;
    margin-bottom: 1em;
}

/**
 * mediaCentre
 */

.CheckControl-icon--mediacenter {
    background-image: url("./images/mediacenter.svg");
    height: 100px;
    width: 100px;
}

.CheckControl--withIcon.is-checked .CheckControl-icon--mediacenter {
    background-image: url("./images/mediacenter-checked.svg");
}

/**
 * pc
 */

.CheckControl-icon--pc {
    background-image: url("./images/pc.svg");
    background-position: center;
    height: 100px;
    width: 150px;
}

.CheckControl--withIcon.is-checked .CheckControl-icon--pc {
    background-image: url("./images/pc-checked.svg");
}

/**
 * phone
 */

.CheckControl-icon--phone {
    background-image: url("./images/phone.svg");
    height: 100px;
    width: 40px;
}

.CheckControl--withIcon.is-checked .CheckControl-icon--phone {
    background-image: url("./images/phone-checked.svg");
}

/**
 * tablet
 */

.CheckControl-icon--tablet {
    background-image: url("./images/tablet.svg");
    height: 100px;
    width: 60px;
}

.CheckControl--withIcon.is-checked .CheckControl-icon--tablet {
    background-image: url("./images/tablet-checked.svg");
}
