<div>
    <rb-check-control-select-all
        name="{{::name}}"
        is-disabled="{{::isDisabled}}"
        is-required="{{::isRequired}}"
        ng-model="options"
        ng-if="enableSelectAll"
        title="{{::title}}">
    </rb-check-control-select-all>

    <label ng-if="!enableSelectAll && title">{{::title}}</label>

    <div ng-repeat="(key, value) in options">
        <rb-check-control
            is-disabled="{{::isDisabled}}"
            is-required="{{::isRequired}}"
            label="{{::value.label}}"
            name="{{::name}}-{{::key}}"
            ng-model="value.checked"
            value="{{::value.value}}">
        </rb-check-control>
    </div>
</div>
