<div
    class="CheckControl"
    ng-class="{
        'is-disabled': isDisabled,
        'is-invalid': form[name].$touched && form[name].$invalid,
        'is-required': isRequired,
        'CheckControl--icon': icon
    }">

    <rb-icon ng-if="icon" icon="{{::icon}}"></rb-icon>

    <input
        class="CheckControl-field"
        id="{{::name}}"
        name="{{::name}}"
        ng-checked="ngModel"
        ng-class="{'is-invalid': form[name].$touched && form[name].$invalid}"
        ng-disabled="isDisabled"
        ng-required="{{::isRequired}}"
        ng-model="ngModel"
        value="{{::value}}"
        type="checkbox"/>

    <label
        class="CheckControl-label u-textLabel"
        for="{{::name}}">
        {{::label}}
    </label>
</div>
