/** @define RgHeader; use strict */

/**
 * The `.RgHeader` component should be used across all products. It consists of:
 *
 * - A mandatory logo
 * - An optional `.Navigation` subcomponent
 * - An optional `.User` subcomponent
 *
 * Three mutually-exclusive colour modifiers are available.
 */

:root {
    --RgHeader--blue-highlight-color: var(--color-brand-blue);
    --RgHeader--green-highlight-color: var(--color-brand-green);
    --RgHeader--pink-highlight-color: var(--color-brand-pink);
    --RgHeader-background: var(--color-gray-tuna);
    --RgHeader-color: var(--color-gray-ghost);
    --RgHeader-highlight-color: var(--color-white-alabaster);
    --RgHeader-user-width: 2em;
}

/**
 * 1. Set fallback highlight colour
 * 2. Set explicit foreground colour
 * 3. Linearize layout for small viewport
 * 4. Allow absolute positioning of `.RgHeader-user` child
 */

.RgHeader {
    background: var(--RgHeader-background);
    border-bottom-color: var(--RgHeader-highlight-color); /* 1 */
    border-bottom-style: solid;
    border-bottom-width: 0.25em;
    color: var(--RgHeader-color); /* 2 */
    display: flex;
    flex-direction: column; /* 3 */
    position: relative; /* 4 */
}

/**
 * 1. Set default logo so component is still usable with no modifier
 * 2. Set global gutter (not set on parent container to avoid breaking `.Navigation.is-active` state)
 * 3. Nudge down for fake centring and matching of `.RgHeader-user`
 */

.RgHeader-logo {
    background-image: url("./images/logo-rockabox-blue.svg"); /* 1 */
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 var(--layout-gutter); /* 2 */
    margin-bottom: 0.5em; /* 3 */
    margin-top: 0.5em; /* 3 */
    min-height: 18px;
    width: 100px;
}

/**
 * 1. Reset stacking order for `.User` subcomponent
 */

.RgHeader-user {
    position: absolute;
    right: var(--layout-gutter);
    top: 2px;
    width: var(--RgHeader-user-width);
    z-index: 0; /* 1 */
}

@media (--md-viewport) {

    /**
     * 1. Horizontal layout for medium+ viewports
     * 2. Match design rhythm with consistent height
     * 3. Stop other subcomponents flowing into `.RgHeader-user` subcomponent, using child width + (2 * gutter).
     *    To spec, but triggers this parser bug at W3C CSS Validator: https://www.w3.org/Bugs/Public/show_bug.cgi?id=18913
     */

    .RgHeader {
        flex-direction: row; /* 1 */
        min-height: 4.5em; /* 2 */
        padding-right: calc(var(--RgHeader-user-width) + (2 * var(--layout-gutter))); /* 3 */
    }

    /**
     * 1. Kill margin and switch to flex layout for vertical centering of content
     */

    .RgHeader-logo {
        display: flex;
        flex-direction: column; /* 1 */
        justify-content: center; /* 1 */
        margin-bottom: 0; /* 1 */
        margin-top: 0; /* 1 */
    }

    .RgHeader-user {
        top: 20px;
    }

}

/**
 * Blue modifier
 */

.RgHeader--blue {
    border-bottom-color: var(--RgHeader--blue-highlight-color);
}

.RgHeader--blue .RgHeader-logo {
    background-image: url("./images/logo-rockabox-blue.svg");
}

/**
 * Green modifier
 */

.RgHeader--green {
    border-bottom-color: var(--RgHeader--green-highlight-color);
}

.RgHeader--green .RgHeader-logo {
    background-image: url("./images/logo-rockabox-green.svg");
}

/**
 * Pink modifier
 */

.RgHeader--pink {
    border-bottom-color: var(--RgHeader--pink-highlight-color);
}

.RgHeader--pink .RgHeader-logo {
    background-image: url("./images/logo-rockabox-pink.svg");
}
