/** @define Currency; use strict */

/**
 * The `.Currency` component must be used for all representations of a currency and consists of a unit part and
 * an optional decimal part.
 */

:root {
    --Currency-cent-font-size: 0.75em;
    --Currency-unit-font-size: inherit;
}

/**
 * 1. Inherit context font-size.
 * 2. Proportionally reduce cent font size.
 */

.Currency-unit {
    font-size: var(--Currency-unit-font-size); /* 1 */
}

.Currency-cent {
    font-size: var(--Currency-cent-font-size); /* 2 */
}
