<div class="DataActionTable">
    <table class="DataActionTable-main">
        <thead>
            <tr class="DataActionTable-row">
                <th class="DataActionTable-cellHeader DataActionTable-colUtility DataActionTable-cellHeader--sortable u-textCenter" scope="col">
                </th>
                <th class="DataActionTable-cellHeader DataActionTable-cellHeader--sortable is-sortedDescending" scope="col">
                    <a class="DataActionTable-cellHeaderItem">Status</a>
                </th>
                <th class="DataActionTable-cellHeader DataActionTable-cellHeader--sortable is-sortedDescending" scope="col">
                    <a class="DataActionTable-cellHeaderItem">Row name</a>
                </th>
                <th class="DataActionTable-cellHeader DataActionTable-cellHeader--sortable is-sortedDescending" scope="col">
                    <a class="DataActionTable-cellHeaderItem">Row description</a>
                </th>
                <th class="DataActionTable-cellHeader DataActionTable-colUtility">
                    <span class="DataActionTable-cellHeaderItem u-hiddenVisually">
                        Line actions
                    </span>
                </th>
            </tr>
        </thead>
        <tbody class="DataActionTable-body">
            <tr class="DataActionTable-row" ng-repeat="item in demoCtrl.itemList track by $index">
                <td class="DataActionTable-cellData u-textCenter">
                    <div class="DataActionTable-cellDataItem">
                        <rb-badge state="status{{item.status}}" collapsed="true"></rb-badge>
                    </div>
                </td>
                <th class="DataActionTable-cellData" scope="row">
                    <div class="DataActionTable-cellDataItem">
                        {{item.status}}
                    </div>
                </th>
                <th class="DataActionTable-cellData" scope="row">
                    <div class="DataActionTable-cellDataItem">
                        <a href="#">{{item.name}}</a>
                    </div>
                </th>
                <th class="DataActionTable-cellData" scope="row">
                    <div class="DataActionTable-cellDataItem">
                        <a href="#">{{item.description}}</a>
                    </div>
                </th>
                <td class="DataActionTable-cellData u-textCenter">
                    <rb-button size="small" state="positive" block="yes" ng-if="item.status==='Pending'"
                        rb-progress-button on-execute="demoCtrl.start(item)"
                        interval="2000"
                        action-label="Publishing"
                        progress-label="Please Wait">Publish</rb-button>
                    <rb-button size="small" state="danger" outline="yes" block="yes" ng-if="item.status==='Live'"
                        rb-progress-button on-execute="demoCtrl.pause(item)"
                        action-label="Pausing"
                        progress-label="Please Wait">Pause</rb-button>
                    <rb-button size="small" state="positive" outline="yes" block="yes" ng-if="item.status==='Paused'"
                        rb-progress-button on-execute="demoCtrl.republish(item)"
                        interval="300"
                        action-label="Publishing"
                        progress-label="Please Wait">Re-Publish</rb-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
