<rb-site>
    <rb-main>
        <rb-page-title heading="rb-progress-button">
        </rb-page-title>
        <rb-section heading="Default" hide-heading="true">
            <table>
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <a>Status</a>
                        </th>
                        <th>
                            <a>Row name</a>
                        </th>
                        <th>
                            <a>Row description</a>
                        </th>
                        <th>
                            <span>
                                Line actions
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in demoCtrl.itemList track by $index">
                        <td>
                            <div>
                                <rb-badge state="status{{item.status}}" collapsed="true"></rb-badge>
                            </div>
                        </td>
                        <th>
                            <div>
                                {{item.status}}
                            </div>
                        </th>
                        <th>
                            <div>
                                <a href="#">{{item.name}}</a>
                            </div>
                        </th>
                        <th>
                            <div>
                                <a href="#">{{item.description}}</a>
                            </div>
                        </th>
                        <td>
                            <rb-button state="positive" block="yes" ng-if="item.status==='Pending'"
                                rb-progress-button on-execute="demoCtrl.start(item)"
                                interval="2000"
                                action-label="Publishing"
                                progress-label="Please Wait">Publish</rb-button>
                            <rb-button state="danger" outline="yes" block="yes" ng-if="item.status==='Live'"
                                rb-progress-button on-execute="demoCtrl.pause(item)"
                                action-label="Pausing"
                                progress-label="Please Wait">Pause</rb-button>
                            <rb-button state="positive" outline="yes" block="yes" ng-if="item.status==='Paused'"
                                rb-progress-button on-execute="demoCtrl.republish(item)"
                                interval="300"
                                action-label="Publishing"
                                progress-label="Please Wait">Re-Publish</rb-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </rb-section>
    </rb-main>
</rb-site>
