<rb-site>
    <rb-main>
        <rb-page-title heading="rb-overlay-panel">
        </rb-page-title>
        <rb-section title="Introduction" hide-title="true">
            <div class="RawHTML">
                <p>
                    The <code>rb-overlay-panel</code> component creates a wrapper for an overlay panel.
                </p>
            </div>
        </rb-section>
        <rb-section title="Demo">
            <div class="RawHTML">
                <p>
                    Cupiditate rerum blanditiis quae asperiores et, <rb-button ng-click="demoRbOverlayPanelCtrl.showOverlay = true">Display Overlay</rb-button> omnis voluptates ut dolor accusantium nobis beatae aliquid sunt ea nulla sequi fugit ratione, qui odio at numquam illum! Dolorum velit ipsam id numquam.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam id ipsa ullam, saepe eligendi error tenetur ab quas perspiciatis eos ea dolor voluptate porro necessitatibus doloribus! Aperiam, dolorem, atque.
                </p>
                <p>
                    Sapiente impedit, facere quos ex fuga vitae, nemo, magni earum ad provident temporibus repudiandae! Quos numquam dolore est, nulla iure suscipit, magnam tenetur accusamus ipsum dolorem eaque tempore fugiat, earum.
                </p>
                <p>
                    Odit necessitatibus, excepturi eaque quae repudiandae, nam adipisci facilis vitae quis. Illum, ipsa, molestiae. Quibusdam eligendi voluptatibus ab tempora velit dolores, quisquam, ut officia unde impedit mollitia qui numquam fugit.
                </p>
                <p>
                    Ipsum necessitatibus praesentium aut officia, dignissimos itaque id alias odit! Modi, ea reiciendis quibusdam nesciunt repellendus! Eveniet exercitationem accusamus sapiente quae qui est quia, sed ipsa, doloremque doloribus magnam laudantium.
                </p>
                <p>
                    Expedita amet, id, quae officia libero ad vitae aliquam, ratione reprehenderit molestias optio. Nesciunt ut laboriosam inventore, minima ad veritatis, ea? Harum odit natus excepturi id, numquam quibusdam, iure mollitia.
                </p>
                <p>
                    Enim ut, eligendi, expedita incidunt ipsum ducimus voluptate nam velit, laudantium veniam, consectetur cum ea quam. Quis veritatis saepe in, voluptatibus quo asperiores deleniti accusantium aut dolorum magnam ipsam iure.
                </p>
                <p>
                    Dolore eaque dolorum accusamus incidunt nesciunt sint velit doloribus accusantium ad quae? Ullam voluptatibus ipsam, accusamus eum illo maxime omnis soluta reiciendis repellendus illum facere at iusto excepturi corrupti quidem.
                </p>
                <p>
                    Aliquam, quia deleniti. At nam consequatur quam unde, dicta, facere temporibus repellat dolore quas repellendus doloremque, nemo tenetur reprehenderit illo vel quaerat culpa quae. Officiis voluptas cumque asperiores ullam provident.
                </p>
                <p>
                    Dignissimos, reiciendis. Nihil ex numquam, excepturi, illo animi aliquid minima atque quasi sunt laboriosam amet veritatis aut obcaecati ut eaque rem iusto itaque voluptas maxime quo? Quisquam non optio harum.
                </p>
                <p>
                    Blanditiis maiores ducimus porro assumenda consectetur deleniti, dolorum voluptatum sapiente officia earum cumque quis quo minima aspernatur necessitatibus, similique. Nam iusto repellat suscipit molestiae officia perspiciatis, odit ea, provident impedit!
                </p>
                <p>
                    Suscipit voluptatum dolor culpa totam. Tenetur beatae aspernatur accusamus aut perferendis veniam quis consequuntur labore ipsa iste omnis magnam culpa enim asperiores vitae voluptatibus eius rerum facilis voluptates, deserunt delectus!
                </p>
                <p>
                    Amet similique sed eum itaque quasi inventore! Itaque beatae illum facilis odit nobis asperiores commodi officiis molestias optio excepturi error eos iste tempore, repudiandae non iure iusto dolores, facere odio.
                </p>
                <p>
                    Et, mollitia cum nesciunt hic fugit repellat quos accusantium, unde placeat, veniam explicabo ipsam accusamus sint iusto blanditiis incidunt quasi eum excepturi corrupti expedita? Minus dolor voluptate rem vel. Provident!
                </p>
                <p>
                    Pariatur fugiat tempore voluptatibus expedita quae provident adipisci? Modi, at! Exercitationem aut doloremque tenetur iste. Impedit eveniet, aperiam alias. Non suscipit, repellendus fugiat quidem nulla molestiae. Numquam voluptas vitae laboriosam!
                </p>
                <p>
                    Nam, hic, tenetur? Accusantium pariatur sint fuga itaque incidunt voluptatibus ab natus ea aspernatur temporibus ducimus nobis aliquid a commodi vero voluptas dignissimos ex quasi, dolorum dolore numquam consequuntur blanditiis.
                </p>
                <p>
                    Ad quasi ratione iure omnis ullam hic odit sed, et, temporibus, dolor aut aliquid beatae? Quam laboriosam, nobis culpa consequuntur qui, adipisci voluptatibus repellat quis facere inventore assumenda animi tempora.
                </p>
                <p>
                    Dolorem dolorum veritatis possimus libero velit ab animi cupiditate, aspernatur numquam quia tenetur fugit, corporis repellat, eum nemo inventore doloribus in pariatur, ex natus. Fugit esse rerum recusandae, perspiciatis minima.
                </p>
                <p>
                    Quas, unde deleniti in blanditiis, fuga quasi reprehenderit ipsum, odit iste, necessitatibus pariatur. Ipsam maiores facere, animi optio deleniti sequi pariatur, dolorem consequuntur repellat enim amet nostrum quasi libero assumenda!
                </p>
            </div>
        </rb-section>
    </rb-main>
</rb-site>

<rb-overlay-panel ng-if="demoRbOverlayPanelCtrl.showOverlay" overlay-close="demoRbOverlayPanelCtrl.close()">
    <rb-page-title
        heading="My Overlay Page"
        subheading="Overlays rule!"
        back-text="Back to home" back-sref="app"
        badge-status="statusPending">
    </rb-page-title>
</rb-overlay-panel>
