/** @define PanelContent; use strict */

/**
 * The `.PanelContent` component creates a scrollable area within a fixed height container (e.g. an overlay panel).
 */

/**
 * 1. Set to viewport height (we can do this as overlay panel uses full viewport height).
 */

.PanelContent {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 1 */
}

.PanelContent-scrollable {
    flex: 1;
    overflow: auto;
}

.PanelContent-unscrollable {
    display: flex;
    flex: 1;
}
