<nav class="Navigation">
    <ul class="Navigation-items">
        <li class="Navigation-item" ng-repeat="option in ::options track by $index" ng-switch="!option.state">
            <a
                ng-switch-when="true"
                ng-attr-href="{{ option.url }}"
                class="Navigation-itemInner"
                ng-class="{ 'is-active': option.active }"
                ng-click="clickfunction({id:option.id})"
                target="{{ option.target }}"
                ng-aria>
                {{::option.text}}
            </a>
            <a
                class="Navigation-itemInner"
                ng-aria
                ng-class="{ 'is-active': isActive(option.root||option.state) }"
                ng-switch-when="false"
                ui-sref="{{ option.state }}">
                {{::option.text}}
            </a>
        </li>
    </ul>
</nav>
