<span class="Ratio" ng-switch on="ratioType">
    <span ng-switch-when="fraction" ng-switch on="displayType">
        <!-- Display the ratio as a fraction representation using currency -->
        <span ng-switch-when="currency">
            <rb-currency-display amount="{{ numerator }}" decimal-places="{{ decimalPlaces }}"></rb-currency-display/>&nbsp;⁄ <rb-currency-display amount="{{ denominator }}" decimal-places="{{ decimalPlaces }}"></rb-currency-display>
        </span>
        <!-- Display the ratio as a fraction -->
        <span ng-switch-default>{{ numerator }} ⁄ {{ denominator || '&nbsp;N/A' }}</span>
    </span>
    <!-- Display the ratio using a percentage -->
    <span ng-if="!denominator" ng-switch-default>N/A</span>
    <span ng-if="denominator" ng-switch-default>{{ ((numerator * 100) / denominator) || 0 | number:0 }}%</span>
</span>
