/** @define rbScrollspy; use strict */

/**
 * The `.rbScrollspy` component...
 */

:root {
    --Scrollspy-variable: var();
}

/**
 * 1. Mandatory class used by du-scrollspy
 */

.Scrollspy {
}

/*1*/
.active {
    background-color:#CCC;
}

.Scrollspy-Category {
    text-transform:uppercase;
    font-weight:bold;
}
