<div>
    <ul du-scroll-container="{{scrollId}}" du-spy-context>
        <li ng-repeat="category in categories">
            <a ng-if="!category.hidden"
                class="Scrollspy-Category"
                href="#{{::category.anchor}}"
                du-scrollspy
                du-smooth-scroll
                offset="{{offset || 0}}"
            >
                <span>{{::category.label}}</span>
            </a>

            <ul>
                <li ng-repeat="section in category.items">
                    <a class="Scrollspy-Section"
                        href="#{{::section.anchor}}"
                        offset="{{offset || 0}}"
                        du-scrollspy
                        du-smooth-scroll
                        ng-hide="section.hidden"
                    >
                        <span>{{::section.label}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
