/** @define Icon; use strict */

/**
 * The icon class is used to display single-colour SVG icons as CSS backgrounds.
 *
 * It should always be attached to a `<span>` element and be followed with the required class modifiers, which control
 * icon, colour and size.
 *
 * Modifiers can be found in `dist/assets/icons` on build.
 */

.Icon {
    display: inline-block;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
