<div class="TextControl" ng-class="{
    'TextControl--text': type==='text',
    'TextControl--email': type==='email',
    'TextControl--password': type==='password',
    'TextControl--number': type==='number',
    'TextControl--search': type==='search',
    'TextControl--textarea': type==='textarea',
    'TextControl--currency': type==='currency',
    'TextControl--url': type==='url',
    'TextControl--small': small==='true'
}">

    <label
        class="TextControl-label u-textLabel"
        ng-class="{'is-invalid': form[name].$touched && form[name].$invalid}">
        {{label}}
    </label>

    <!-- ng-if creates child scope so need to use $parent.ngModel for 2-way binding -->
    <input
        ng-if="type !== 'textarea'"
        class="TextControl-field"
        name="{{name}}"
        placeholder="{{placeholder}}"
        step="{{ numberSteps }}"
        type="{{ inputType }}"
        ng-model="$parent.ngModel"
        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 700, 'blur': 0 } }"
        ng-required="{{isRequired}}"
        ng-disabled="{{isDisabled}}"
        ng-readonly="{{isReadonly}}"
        ng-change="onChange({value:$parent.ngModel})"
        ng-class="{
            'is-invalid': form[name].$touched && form[name].$invalid,
            'is-touched': form[name].$touched,
            'is-populated' :  isPopulated
        }"
        custom-validation
    />

    <textarea
        ng-if="type === 'textarea'"
        class="TextControl-field"
        name="{{name}}"
        placeholder="{{placeholder}}"
        type="{{type}}"
        ng-model="$parent.ngModel"
        ng-model-options="modelOptions"
        ng-required="{{isRequired}}"
        ng-disabled="{{isDisabled}}"
        ng-readonly="{{isReadonly}}"
        ng-change="onChange({value:$parent.ngModel})"
        ng-class="{'is-invalid': form[name].$touched && form[name].$invalid}"
        custom-validation
        msd-elastic="{{ isElastic || false }}"
    />

    <div class="TextControl-message" ng-show="helpMessage">
        {{helpMessage}}
    </div>

    <div class="TextControl-message is-invalid" ng-if="form[name].$error.server">
        {{ form[name].$error.server }}
    </div>

    <div ng-if="form[name].$touched">
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.required">
            This field is required.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.email">
            Please enter a valid email address.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.number">
            Please enter a valid number.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.currency">
            Please enter a valid monetary value.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.url">
            Please enter a valid URL.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.tooManyDigits">
            Ensure that there are no more than 18 digits before the decimal point.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.maxDigits">
            Ensure that there are no more than {{maxDigits}} digits before the decimal point.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.overMaxValue">
            Ensure this value is less than or equal to {{maxValue}}.
        </div>
        <div class="TextControl-message is-invalid" ng-if="form[name].$error.underMinValue">
            Ensure this value is more than or equal to {{minValue}}.
        </div>
    </div>

</div>
