/** @define Divider; use strict */

/**
 * The `.Divider` component creates a horizontal divider.
 */

.Divider {
    border-bottom: 1px solid var(--color-gray-ghost);
    height: 1em;
    margin-bottom: 1em;
}
