/** @define DefinitionList; use strict */

/**
 * The `.DefinitionList` component should be used for displaying name-value structures.
 */

:root {
    --DefinitionList-border: var(--color-gray-ghost);
}

/**
 * 1. Linearize layout for small viewport
 * 2. Stripe odd items
 */

.DefinitionList-toolbar {
    margin-bottom: 1.5em;
}

.DefinitionList-main {
    border-top: 1px solid var(--DefinitionList-border);
    width: 100%;
}

.DefinitionList-item {
    background: var(--color-white-alabaster);
    display: flex;
    flex-direction: column; /* 1 */
    padding: 1.5em 0;
}

@media (--md-viewport) {

    .DefinitionList-item {
        flex-direction: row;  /* 1 */
    }

}

.DefinitionList-item:nth-child(odd) {
    background: var(--color-white-catskill); /* 2 */
}

.DefinitionList-title {
    display: flex;
    min-width: 14em;
    padding: 0 2em;
}

.DefinitionList-icon {
    margin-right: 1em;
}

.DefinitionList-body {
    padding: 0 2em;
}

@media (--md-viewport) {

    .DefinitionList-body {
        border-left: 1px solid var(--DefinitionList-border);
    }

}
