/** @define DefinitionList; use strict */

/**
 * The `.DefinitionList` component should be used for displaying name-value structures.
 */

:root {
    --DefinitionList-background: var(--color-white-catskill);
    --DefinitionList-border: var(--color-gray-mystic);
}

/**
 * 1. Linearize layout for small viewport
 */

.DefinitionList-toolbar {
    margin: 0 var(--layout-gutter) 1.5em;
}

.DefinitionList-main {
    background: var(--DefinitionList-background);
    border-top: 1px solid var(--DefinitionList-border);
    width: 100%;
}

.DefinitionList-item {
    border-bottom: 1px solid var(--DefinitionList-border);
    display: flex;
    flex-direction: column; /* 1 */
    padding: 1.5em 0;
}

@media (--md-viewport) {

    .DefinitionList-item {
        flex-direction: row;  /* 1 */
    }

}

.DefinitionList-title {
    display: flex;
    min-width: 14em;
    padding: 0 2em;
}

.DefinitionList-icon {
    background-repeat: no-repeat;
    background-position: left 3px;
    margin-right: 1em;
    padding-left: 2em;
}

.DefinitionList-body {
    padding: 0 2em;
}

@media (--md-viewport) {

    .DefinitionList-body {
        border-left: 1px solid var(--DefinitionList-border);
    }

}
