// TO BE REVIEWED

dl.multicolumn {
    overflow: auto;
}
dl.multicolumn dt, dl.multicolumn dd {
    float: left;
}
dl.multicolumn dt {
    clear: left;
    width: 13%;
    margin-right: 2%;
    font-weight: bold;
}
dl.multicolumn dd {
    width: 85%;
    margin-left: 0;
}
