/** @define GenericForm; use strict */

/**
 * The `.GenericForm` component should be used to wrap generic forms. Custom forms have their own wrappers (e.g.
 * rb-login-form) and should not use this component.
 */

/**
 * 1. Inline button group.
 * 2. Match fieldset spacing.
 */

.GenericForm-message {
    font-size: var(--font-size-x-small);
    padding: 1em 0;
    text-align: right;
}

.GenericForm-messageInner {
    background: url("./images/required.svg") no-repeat left 4px;
    display: inline-block;
    padding-left: 7px;
}
