/** @define Canvas; use strict */

/**
 * The `.Canvas` component sets a checkerboard background underneath a centered item.
 */

/**
 * 1. Centre everything in the canvas.
 * 2. Prevent canvas item running against edges.
 * 3. Position state label above displayed element.
 * 4. Height is 100vh minus the header height
 */

.Canvas {
    align-items: center; /* 1 */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/checkered.svg");
    display: flex; /* 1 */
    flex-grow: 1;
    height: calc(100vh - 63px);
    justify-content: center; /* 1 */
    min-height: 2em;
    position: relative;
}

.Canvas-inner {
    padding: 1em; /* 2 */
}

.Canvas-stateInner {
    font-size: var(--font-size-small);
}
