<div class="RadioControl" ng-class="{
    'RadioControl--row': isRow
}">

    <div class="RadioControl-items">
        <div
            class="RadioControl-item"
            ng-class="{
                'is-disabled': isDisabled,
                'is-invalid': form[name].$touched && form[name].$invalid,
                'is-required': isRequired
            }"
            ng-repeat="(id, choice) in ::choices">

            <input
                class="RadioControl-field"
                id="{{::name}}-{{::id}}"
                name="{{::name}}"
                ng-click="setChoice(choice)"
                ng-class="{'is-invalid': form[name].$touched && form[name].$invalid}"
                ng-disabled="{{::isDisabled || choice.disabled}}"
                ng-required="{{::isRequired || choice.required}}"
                ng-checked="isChecked(choice)"
                value="{{::choice.value}}"
                type="radio">

            <label
                class="RadioControl-label u-textLabel"
                for="{{::name}}-{{::id}}">
                {{::choice.label}}
            </label>
        </div>
    </div>

    <div
        class="RadioControl-message"
        ng-show="helpMessage">
        {{::helpMessage}}
    </div>

    <div
        class="RadioControl-message is-invalid"
        ng-if="form[name].$touched && form[name].$error.required">
        This field is required.
    </div>
</div>
