/** @define Site; use strict */

/**
 * The `.Site` class is generally attached to the `<body>` element.
 * Used to create Sticky Footer in conjunction with `.Main`.
 * See: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

/**
 * 1. Force height to 100% of viewport.
 */

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 1 */
}
