<section class="Section Section--gutter">
    <div class="RawHTML">
        <h2>
            rb-text-control
        </h2>
        <h3>
            Current Angular Version
        </h3>
    </div>
    <div class="ComponentView">
        <form name="userForm">

            <rb-text-control
                form="userForm"
                title="Your Email"
                placeholder="Enter your email..."
                name="email"
                type="email"
                ng-model="demoCtrl.data.email"
                is-required="true"
                help-message="This is so we can harass you">
            </rb-text-control>

            <rb-text-control
                form="userForm"
                title="Pet Name"
                placeholder="Enter the name of your pet..."
                name="pet"
                type="text"
                ng-model="demoCtrl.data.pet"
                is-required="true"
                help-message="i.e. Purple Prawn">
            </rb-text-control>

            <rb-text-control
                form="userForm"
                title="Your favorite password"
                placeholder="I want to steal your things..."
                name="password"
                type="password"
                ng-model="demoCtrl.data.password"
                is-required="true">
            </rb-text-control>

            <rb-text-control
                form="userForm"
                title="How cool is Nick on a scale of 1-10?"
                placeholder="0"
                name="rating"
                type="number"
                ng-model="demoCtrl.data.rating"
                is-required="true">
            </rb-text-control>

            <rb-text-control
                form="userForm"
                title="Description (textarea)"
                placeholder="Gimme a description..."
                name="description"
                type="textarea"
                ng-model="demoCtrl.data.description">
            </rb-text-control>

            <rb-text-control
                form="userForm"
                title="Readonly control"
                name="readonly_message"
                type="textarea"
                is-readonly="true"
                ng-model="demoCtrl.data.readonlyMessage">
            </rb-text-control>

            <rb-text-control
                form="userForm"
                title="What are you looking for?"
                placeholder="Search me"
                name="query"
                type="search"
                ng-model="demoCtrl.data.query">
            </rb-text-control>

            <div ng-if="userForm.$valid">
                Form is valid
            </div>
            <div ng-if="userForm.$invalid">
                Form is invalid
            </div>

            <div hljs language="json">
                {{ demoCtrl.data }}
            </div>

        </form>
    </div>
    <div class="RawHTML">
        <h3>
            Static Reference Version
        </h3>
        <h4>
            Currency Normal
        </h4>
    </div>
    <div class="ComponentView">
        <form>
            <div class="TextControl TextControl--currency">
                <label class="TextControl-label u-textLabel" for="f-Text-currency">Currency label</label>
                <input class="TextControl-field" id="f-Text-currency" min="1" name="number" placeholder="Currency" type="number" step="any">
            </div>
            <h2>
                Currency Disabled
            </h2>
            <div class="TextControl TextControl--currency">
                <label class="TextControl-label is-disabled u-textLabel" for="f-Text-currency-disabled">Currency label</label>
                <input class="TextControl-field is-disabled" id="f-Text-currency-disabled" min="1" name="number" placeholder="Currency" type="number" step="any" disabled>
            </div>
            <h2>
                Currency Required
            </h2>
            <div class="TextControl TextControl--currency is-required">
                <label class="TextControl-label is-required u-textLabel" for="f-Text-currency-required">Currency label</label>
                <input class="TextControl-field is-required" id="f-Text-currency-required" name="number" placeholder="Currency" type="number" required>
            </div>
            <h2>
                Currency Populated
            </h2>
            <p>
                Matches <code>:focus</code> state. There's no way of changing an <code>input</code> style if it's
                populated (or not). This adds the correct background image and needs setting via Angular.
            </p>
            <div class="TextControl TextControl--currency is-populated">
                <label class="TextControl-label is-populated u-textLabel" for="f-Text-currency-populated">Currency label</label>
                <input class="TextControl-field is-populated" id="f-Text-currency-populated" name="number" placeholder="Currency" type="number" value="666" required>
            </div>
        </form>
    </div>
</section>
