<rb-site>
    <rb-main>
        <form name="userForm">

            <rb-page-title heading="rb-text-control">
            </rb-page-title>
            <rb-section heading="Introduction" hide-heading="true">
                <rb-raw-html-display>
                    <p>
                        The <code>rb-text-control</code> component groups simple, text-based fields that share a set of
                        common states. Status and modifier classes can be applied to any field type and can be stacked.
                    </p>
                    <p>
                        The <code>placeholder</code> attribute should be used where this will aid usability but should
                        <strong>not</strong> be used in place of a <code>label</code> element.
                    </p>
                    <p>
                        The <code>autocomplete="off"</code> attribute should <strong>not</strong> be used for password
                        fields, but should be used for other sensitive data types (e.g. credit card information).
                    </p>
                    <p>
                        The <code>autofocus</code> attribute should only be used <strong>once per page</strong>, and
                        only on the <strong>first</strong> field on a composed page that has a single, simple form
                        (e.g. <code><a ui-sref="rb-login-form">rb-login-form</a></code>).
                    </p>
                </rb-raw-html-display>
            </rb-section>
            <rb-section heading="Text (type='text')">
                <rb-text-control
                    form="userForm"
                    label="Pet Name"
                    placeholder="Enter the name of your pet..."
                    name="pet"
                    type="text"
                    ng-model="demoCtrl.data.pet"
                    is-required="true"
                    help-message="i.e. Purple Prawn">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Email (type='email')">
                <rb-text-control
                    form="userForm"
                    label="Your Email"
                    placeholder="Enter your email..."
                    name="email"
                    type="email"
                    ng-model="demoCtrl.data.email"
                    is-required="true"
                    help-message="This is so we can harass you">
                </rb-text-control>
            </rb-section>

            <rb-section heading="URL (type='url')">
                <rb-text-control
                    form="userForm"
                    label="Your URL"
                    placeholder="Enter your URL..."
                    name="url"
                    type="url"
                    ng-model="demoCtrl.data.url"
                    is-required="true">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Password (type='password')">
                <rb-text-control
                    form="userForm"
                    label="Your favorite password"
                    placeholder="I want to steal your things..."
                    name="password"
                    type="password"
                    ng-model="demoCtrl.data.password"
                    is-required="true">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Number (type='number')">
                <rb-text-control
                    form="userForm"
                    label="How cool is Nick on a scale of 1-10?"
                    placeholder="0"
                    name="rating"
                    type="number"
                    ng-model="demoCtrl.data.rating"
                    is-required="true">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Currency (type='currency')">
                <rb-text-control
                    form="userForm"
                    label="Currency"
                    placeholder="Enter amount"
                    name="currency"
                    type="currency"
                    min-value="5"
                    number-steps="0.01"
                    ng-model="demoCtrl.data.amount"
                    is-required="true">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Small (small='true')">
                <rb-text-control
                    form="userForm"
                    label="Something insignificant"
                    placeholder="Enter something small"
                    name="small"
                    small="true"
                    type="text"
                    ng-model="demoCtrl.data.small">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Text (type='text', Calls a function on change --> see browser console)">
                <rb-text-control
                    form="userForm"
                    label="Pet Name"
                    placeholder="Enter the name of your pet..."
                    name="pet"
                    type="text"
                    ng-model="demoCtrl.data.pet"
                    is-required="true"
                    on-change="demoCtrl.printChange(value)"
                    help-message="i.e. Purple Prawn">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Textarea (type='textarea')">
                <rb-text-control
                    form="userForm"
                    label="Description (non-elastic textarea)"
                    placeholder="Gimme a description..."
                    name="description"
                    type="textarea"
                    ng-model="demoCtrl.data.description">
                </rb-text-control>

                <rb-text-control
                    form="userForm"
                    label="Description (elastic textarea)"
                    is-elastic="true"
                    placeholder="Gimme a description..."
                    name="description"
                    type="textarea"
                    ng-model="demoCtrl.data.elasticDescription">
                </rb-text-control>

                <rb-text-control
                    form="userForm"
                    label="Description (Calls a function on change --> see browser console)"
                    placeholder="Gimme a description..."
                    name="description"
                    type="textarea"
                    on-change="demoCtrl.printChange(value)"
                    ng-model="demoCtrl.data.description">
                </rb-text-control>

            </rb-section>

            <rb-section heading="Search (type='search')">
                <rb-text-control
                    form="userForm"
                    label="What are you looking for?"
                    placeholder="Search me"
                    name="query"
                    type="search"
                    ng-model="demoCtrl.data.query">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Readonly textarea (is-readonly='true')">
                <rb-text-control
                    form="userForm"
                    name="readonly_message"
                    type="textarea"
                    is-readonly="true"
                    ng-model="demoCtrl.data.readonlyMessage">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Server Validation">
                <rb-text-control
                    form="userForm"
                    label="Validated on server"
                    placeholder="This field has a custom server validation message (enter below)..."
                    name="somethingElse"
                    type="text"
                    ng-model="demoCtrl.data.somethingElse">
                </rb-text-control>

                <rb-text-control
                    label="Server validation:"
                    placeholder="This is the validation message for the above field"
                    name="serverMessage"
                    type="text"
                    help-message="This exists since controller is ignorant to form until template has rendered"
                    ng-model="userForm.somethingElse.$error.server">
                </rb-text-control>
            </rb-section>

            <rb-section heading="Demo Form Summary">
                <div ng-if="userForm.$valid">
                    Form is valid
                </div>
                <div ng-if="userForm.$invalid">
                    Form is invalid
                </div>

                <div hljs language="json">
                    {{ demoCtrl.data }}
                </div>
            </rb-section>

        </form>
    </rb-main>
</rb-site>
