<main class="Main">
    <article class="Article">

        <form name="userForm">

            <rb-text-control
                form="userForm"
                title="Your Email"
                placeholder="Enter your email..."
                name="name"
                type="email"
                ng-model="demoCtrl.data.email"
                is-required="true"
                help-message="This is so we can harass you">
            </rb-text-control>

            <rb-text-control
                form="userForm"
                title="Pet Name"
                placeholder="Enter the name of your pet..."
                name="pet"
                type="text"
                ng-model="demoCtrl.data.pet"
                is-required="true"
                help-message="i.e. Purple Prawn">
            </rb-text-control>

            <div ng-if="userForm.$valid">
                Form is valid
            </div>
            <div ng-if="userForm.$invalid">
                Form is invalid
            </div>

            <div hljs language="json">
                {{ demoCtrl.data }}
            </div>

        </form>
    </article>
</main>
