<rb-site>
    <rb-main>
        <rb-page-title heading="rb-check-with-text-control">
        </rb-page-title>
        <rb-section heading="Introduction" hide-heading="true">
            <rb-raw-html-display>
                <p>
                    The <code>rb-check-with-text-control</code> component consists of a checkbox that, when clicked,
                    shows an associated text control.
                </p>
            </rb-raw-html-display>
        </rb-section>
        <rb-section heading="Empty">
            <rb-component-display>
                <rb-check-with-text-control
                    name="empty"
                    ng-model="demoCtrl.models.empty"
                    checkbox-value="google_adx"
                    label="Google Adx"
                    checkbox-key="SSP"
                    text-key="deal_ids"
                ></rb-check-with-text-control>
            </rb-component-display>
            <rb-raw-html-display>
                Model: {{demoCtrl.models.empty}}
            </rb-raw-html-display>
        </rb-section>
        <rb-section heading="Pre-populated">
            <rb-component-display>
                <rb-check-with-text-control
                    name="prepopulated"
                    ng-model="demoCtrl.models.prepopulated"
                    checkbox-value="google_adx"
                    label="Google Adx"
                    checkbox-key="SSP"
                    text-key="deal_ids"
                ></rb-check-with-text-control>
            </rb-component-display>
            <rb-raw-html-display>
                <p>
                    Model: {{demoCtrl.models.prepopulated}}
                </p>
            </rb-raw-html-display>
        </rb-section>
        <rb-section heading="With Placeholder">
            <rb-component-display>
                <rb-check-with-text-control
                    name="placeholder"
                    text-placeholder="Optional Deal ID"
                    ng-model="demoCtrl.models.placeholder"
                    checkbox-value="google_adx"
                    label="Google Adx"
                    checkbox-key="SSP"
                    text-key="deal_ids"
                ></rb-check-with-text-control>
            </rb-component-display>
            <rb-raw-html-display>
                <p>
                    Model: {{demoCtrl.models.placeholder}}
                </p>
            </rb-raw-html-display>
        </rb-section>
        <rb-section heading="With Form Validation">
            <rb-component-display>
                <form name="demoCtrl.myForm">
                    <rb-check-with-text-control
                        form="demoCtrl.myForm"
                        name="validation"
                        text-placeholder="Optional Deal ID"
                        ng-model="demoCtrl.models.validation"
                        checkbox-value="google_adx"
                        label="Google Adx"
                        checkbox-key="SSP"
                        text-key="deal_ids"
                    ></rb-check-with-text-control>

                    <rb-button ng-click="demoCtrl.invalidateCheckbox()">Invalidate checkbox!</rb-button>
                    <rb-button ng-click="demoCtrl.invalidateText()">Invalidate textbox!</rb-button>
                </form>
            </rb-component-display>
            <rb-raw-html-display>
                <p>
                    Model: {{demoCtrl.models.validation}}
                </p>
            </rb-raw-html-display>
        </rb-section>
    </rb-main>
</rb-site>
