/** @define RgSite; use strict */

/**
 * The `.RgSite` class is generally attached to the `<body>` element.
 * Can be composed to create variants of stickiness using the `.RgSite-top`, `.RgSite-middle` and `.RgSite-bottom` descendents.
 * Typically used in conjunction with `.Main`.
 */

/**
 * 1. Force height to 100% of viewport.
 * 2. Force footer to be always visible.
 */

.RgSite {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 1 */
}

.RgSite-middle {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.RgSite-bottom {
    /* 2 */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/**
 * No Scroll Modifier
 *
 * Lets anything in middle manage it's own scrolling.
 */

.RgSite--noScroll .RgSite-middle {
    overflow: hidden;
}
