<div class="SelectControl">
    <label
        class="SelectControl-label u-textLabel"
        ng-class="{'is-invalid': form[name].$touched && form[name].$invalid}">
        {{ label }}
    </label>
    <select
        class="SelectControl-field"
        name="{{name}}"
        ng-options="item[value] as item[display] for item in items"
        ng-model="selected"
        ng-disabled="{{ isDisabled }}"
        ng-required="{{ isRequired }}">
            <option value="" ng-show="placeholder">{{ placeholder }}</option>
    </select>

    <div class="SelectControl-message" ng-show="helpMessage">
        {{helpMessage}}
    </div>

    <div class="SelectControl-message is-invalid" ng-if="form[name].$error.server">
        {{ form[name].$error.server }}
    </div>

    <div ng-if="form[name].$touched">
        <div class="SelectControl-message is-invalid" ng-if="form[name].$error.required">
            This field is required.
        </div>
    </div>
</div>
