<section class="Section">
    <div class="RawHTML">
        <h2>
            rb-page-title
        </h2>
        <p>
            The <code>rb-page-title</code> component can be used across all products. It consists of:
        </p>
        <ul>
            <li>An optional navigation descendent, generally pointing back to an index.</li>
            <li>A mandatory page body, containing a mandatory page heading.</li>
            <li>An optional badge, displayed near the page heading.</li>
            <li>An optional subheading.</li>
            <li>An optional action descendent.</li>
        </ul>
        <h3>
            Demo
        </h3>
    </div>
    <div class="ComponentView">
        <rb-page-title
            heading="My Test Page"
            subheading="This subheading rocks"
            back-text="Back to home" back-sref="app"
            badge-status="{{pageTitleDemoCtrl.status}}">
                <rb-button state="positive"
                    ng-click="pageTitleDemoCtrl.changeStatus('statusLive')"
                    ng-if="pageTitleDemoCtrl.status==='statusPending'">Publish</rb-button>
                <rb-button state="danger" outline="yes"
                    ng-click="pageTitleDemoCtrl.changeStatus('statusPaused')"
                    ng-if="pageTitleDemoCtrl.status==='statusLive'">Pause</rb-button>
                <rb-button state="positive" outline="yes"
                    ng-click="pageTitleDemoCtrl.changeStatus('statusLive')"
                    ng-if="pageTitleDemoCtrl.status==='statusPaused'">Re-Publish</rb-button>
        </rb-page-title>
    </div>
</section>
