<rb-site>
    <rb-main>
        <rb-page-title heading="rb-radio-control">
        </rb-page-title>
        <rb-section heading="Introduction" hide-heading="true">
            <div class="RawHTML">
                <p>
                    A radio control must always display more than one radio button and label pair.
                </p>
                <p>
                    Exactly two radio button and label pairs must be displayed when using the row modifier.
                </p>
            </div>
        </rb-section>
        <rb-section heading="Default">
            <div class="ComponentView">
                <form name="radioForm">
                    <rb-radio-control
                        choices="demoCtrl.choices"
                        ng-model="demoCtrl.selected"
                        form="radioForm"
                        help-message="Optional group help message"
                        is-required=true
                        name="ng-radio-group">
                    </rb-radio-control>

                    Model: {{ demoCtrl.selected }}
                </form>
            </div>
        </rb-section>
        <rb-section heading="Row Modifier">
            <div class="ComponentView">
                <form name="radioRowForm">
                    <rb-radio-control
                        choices="demoCtrl.choicesRow"
                        ng-model="demoCtrl.selectedRow"
                        form="radioRowForm"
                        help-message="Optional group help message"
                        is-row=true
                        name="ng-radio--row-group">
                    </rb-radio-control>

                    Model: {{ demoCtrl.selectedRow }}
                </form>
            </div>
        </rb-section>
        <rb-section heading="Icon Modifier">
            <div class="ComponentView">
                <form name="iconRadioForm">
                    <rb-radio-control
                        choices="demoCtrl.iconChoices"
                        ng-model="demoCtrl.selectedIcon"
                        form="iconRadioForm"
                        name="ng-radio--icon">
                    </rb-radio-control>

                    Model: {{ demoCtrl.selectedIcon }}
                </form>
            </div>
        </rb-section>
    </rb-main>
</rb-site>
