<rb-site>
    <rb-main>
        <rb-page-title heading="rb-radio-control">
        </rb-page-title>
        <rb-section heading="Introduction" hide-heading="true">
            <div class="RawHTML">
                <p>
                    A radio control must always display more than one radio button and label pair.
                </p>
                <p>
                    When using the `RadioControl--row` modifier, exactly two radio button and label pairs.
                </p>
                <p>
                    <strong>We may not need (or be able to use) all of these states as we're swapping out native controls for
                    custom styled controls.</strong>
                </p>
                <p>
                    <strong>Required:</strong> "If any radio button in a same named group of radio buttons has the required
                    attribute set, the user must select one of the radio buttons in that group, but not necessarily the one that
                    has the attribute set. The one occurrence of the required attribute is applied to the whole group of same
                    named radio buttons." See:
                    <a href="http://www.wufoo.com/html5/types/15-radio.html">http://www.wufoo.com/html5/types/15-radio.html</a>
                </p>
                <p>
                    <strong>Pressed:</strong> distinct from checked. Click and hold but don't release to activate.
                </p>
                <p>
                    <strong>Focused:</strong> distinct from pressed. Tab to control with keyboard, but don't hit space to activate.
                </p>
            </div>
        </rb-section>
        <rb-section heading="Default">
            <div class="ComponentView">
                <form name="radioForm">
                    <rb-radio-control
                        choices="demoCtrl.choices"
                        ng-model="demoCtrl.selected"
                        form="radioForm"
                        help-message="Optional group help message"
                        is-required=true
                        name="ng-radio-group">
                    </rb-radio-control>

                    Model: {{ demoCtrl.selected }}
                </form>
            </div>
        </rb-section>
        <rb-section heading="Row Modifier">
            <div class="ComponentView">
                <form name="radioRowForm">
                    <rb-radio-control
                        choices="demoCtrl.choicesRow"
                        ng-model="demoCtrl.selectedRow"
                        form="radioRowForm"
                        help-message="Optional group help message"
                        is-row=true
                        name="ng-radio--row-group">
                    </rb-radio-control>

                    Model: {{ demoCtrl.selectedRow }}
                </form>
            </div>
        </rb-section>
        <rb-section heading="Icon Modifier">
            <div class="ComponentView">
                <form name="iconRadioForm">
                    <rb-radio-control
                        choices="demoCtrl.iconChoices"
                        ng-model="demoCtrl.selectedIcon"
                        form="iconRadioForm"
                        name="ng-radio--icon">
                    </rb-radio-control>

                    Model: {{ demoCtrl.selectedIcon }}
                </form>
            </div>
        </rb-section>
    </rb-main>
</rb-site>
