<rb-site>
    <rb-main>
        <rb-page-title heading="rb-check-control">
        </rb-page-title>
        <rb-section title="Introduction" hide-title="true">
            <div class="RawHTML">
                <p>
                    A check control displays a single checkbox/label pair (cf. <code>rb-radio-control</code>).
                </p>
                <p>
                    Other controls should be used to create different groupings of checkbox/label pairs.
                </p>
                <p>
                    Help and invalid messages for individual and groups of CheckControls should be surfaced on a fieldset level.
                </p>
            </div>
        </rb-section>
        <rb-section title="Current Angular Version">
            <form name="checkControlForm">
                <div class="RawHTML">
                    <h4>Default</h4>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        form="checkControlForm"
                        label="Default"
                        name="check-control-default"
                        ng-model="demoCtrl.default">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <h3>Disabled</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        is-disabled="true"
                        label="Disabled"
                        name="check-control-disabled"
                        ng-model="demoCtrl.disabled">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <h3>Required</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        label="Required"
                        is-required="true"
                        name="check-control-required"
                        ng-model="demoCtrl.required">
                    </rb-check-control>

                </div>
                <div class="RawHTML">
                    <h3>Pre Checked in scope</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        label="Pre Checked"
                        name="check-control.preChecked"
                        ng-model="demoCtrl.preChecked">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <h3>With Icon modifier</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        form="checkControlSelectIconForm"
                        ng-model="demoCtrl.icon"
                        name="check-control-icon"
                        label="With Icon"
                        icon="black-12-arrow-right">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <pre>default: {{ demoCtrl.default }}</pre>
                    <pre>disabled: {{ demoCtrl.disabled }}</pre>
                    <pre>required: {{ demoCtrl.required }}</pre>
                    <pre>prechecked: {{ demoCtrl.preChecked }}</pre>
                    <pre>icon: {{ demoCtrl.icon }}</pre>
                </div>
            </form>
        </rb-section>
        <rb-section title="Static Reference Version">
            <div class="RawHTML">
                <h4>
                    Default
                </h4>
            </div>
            <div class="ComponentView">
                <div class="CheckControl">
                    <input class="CheckControl-field" id="check1" name="check-control" type="checkbox">
                    <label class="CheckControl-label u-textLabel" for="check1">Default label</label>
                </div>
            </div>
            <div class="RawHTML">
                <h3>
                    Invalid
                </h3>
            </div>
            <div class="ComponentView">
                <div class="CheckControl is-invalid">
                    <input class="CheckControl-field is-invalid" id="check2" name="check-control" type="checkbox">
                    <label class="CheckControl-label is-invalid u-textLabel" for="check2">Invalid label</label>
                </div>
            </div>
            <div class="RawHTML">
                <h3>
                    Disabled
                </h3>
            </div>
            <div class="ComponentView">
                <div class="CheckControl is-disabled">
                    <input class="CheckControl-field is-disabled" id="check3" name="check-control" type="checkbox" disabled>
                    <label class="CheckControl-label is-disabled u-textLabel" for="check3">Disabled label</label>
                </div>
            </div>
            <div class="RawHTML">
                <h3>
                    Required
                </h3>
            </div>
            <div class="ComponentView">
                <div class="CheckControl is-required">
                    <input class="CheckControl-field is-required" id="check4" name="check-control" type="checkbox" required>
                    <label class="CheckControl-label is-required u-textLabel" for="check4">Required label</label>
                </div>
            </div>
            <div class="RawHTML">
                <h3>
                    Checked
                </h3>
            </div>
            <div class="ComponentView">
                <div class="CheckControl is-checked">
                    <input class="CheckControl-field is-checked" id="check5" name="check-control" type="checkbox" checked>
                    <label class="CheckControl-label is-checked u-textLabel" for="check5">Checked label</label>
                </div>
            </div>
            <div class="RawHTML">
                <h3>
                    Pressed
                </h3>
            </div>
            <div class="ComponentView">
                <div class="CheckControl is-pressed">
                    <input class="CheckControl-field is-pressed" id="check6" name="check-control" type="checkbox">
                    <label class="CheckControl-label is-pressed u-textLabel" for="check6">Pressed label</label>
                </div>
            </div>
            <div class="RawHTML">
                <h3>
                    Focused
                </h3>
            </div>
            <div class="ComponentView">
                <div class="CheckControl is-focused">
                    <input class="CheckControl-field is-focused" id="check7" name="check-control" type="checkbox">
                    <label class="CheckControl-label is-focused u-textLabel" for="check7">Focused label</label>
                </div>
            </div>
        </rb-section>
    </rb-main>
</rb-site>
