<rb-site>
    <rb-main>
        <rb-page-title heading="rb-check-control">
        </rb-page-title>
        <rb-section heading="Introduction" hide-heading="true">
            <div class="RawHTML">
                <p>
                    A check control displays a single checkbox/label pair (cf. <code>rb-radio-control</code>).
                </p>
                <p>
                    Other controls should be used to create different groupings of checkbox/label pairs.
                </p>
                <p>
                    Help and invalid messages for individual and groups of CheckControls should be surfaced on a fieldset level.
                </p>
            </div>
        </rb-section>
        <rb-section heading="Default">
            <form name="checkControlForm">
                <div class="RawHTML">
                    <h4>Default</h4>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        form="checkControlForm"
                        label="Default"
                        name="check-control-default"
                        ng-model="demoCtrl.default">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <h3>Disabled</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        is-disabled="true"
                        label="Disabled"
                        name="check-control-disabled"
                        ng-model="demoCtrl.disabled">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <h3>Required</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        label="Required"
                        is-required="true"
                        name="check-control-required"
                        ng-model="demoCtrl.required">
                    </rb-check-control>

                </div>
                <div class="RawHTML">
                    <h3>Pre Checked in scope</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        label="Pre Checked"
                        name="check-control.preChecked"
                        ng-model="demoCtrl.preChecked">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <h3>With Icon modifier</h3>
                </div>
                <div class="ComponentView">
                    <rb-check-control
                        form="checkControlSelectIconForm"
                        ng-model="demoCtrl.icon"
                        name="check-control-icon"
                        label="With Icon"
                        icon="black-12-arrow-right">
                    </rb-check-control>
                </div>
                <div class="RawHTML">
                    <pre>default: {{ demoCtrl.default }}</pre>
                    <pre>disabled: {{ demoCtrl.disabled }}</pre>
                    <pre>required: {{ demoCtrl.required }}</pre>
                    <pre>prechecked: {{ demoCtrl.preChecked }}</pre>
                    <pre>icon: {{ demoCtrl.icon }}</pre>
                </div>
            </form>
        </rb-section>
    </rb-main>
</rb-site>
