<rb-site>
    <rb-main>
        <rb-page-title heading="rb-check-control-group">
        </rb-page-title>
        <rb-section heading="Introduction" hide-heading="true">
            <rb-raw-html-display>
                <p>
                    A check control group displays a group of check controls
                </p>
            </rb-raw-html-display>
        </rb-section>
        <rb-section heading="Examples" hide-heading="true">
            <rb-component-display>
                <form name="checkControlForm">
                    <rb-check-control-group
                        form="checkControlForm"
                        name="check-control-default"
                        ng-model="demoCtrl.ngModelDefault"
                        options="demoCtrl.defaultOptions"
                        title="Basic Usage">
                    </rb-check-control-group>
                    <pre>{{ demoCtrl.ngModelDefault }}</pre>
                </form>
            </rb-component-display>
            <rb-component-display>
                <form name="checkControlForm">
                    <rb-check-control-group
                        form="checkControlForm"
                        name="check-control-shared-one"
                        ng-model="demoCtrl.ngModelShared"
                        options="demoCtrl.sharedOptions"
                        title="Shared model">
                    </rb-check-control-group>

                    <rb-check-control-group
                        enable-select-all=true
                        form="checkControlForm"
                        name="check-control-shared-two"
                        ng-model="demoCtrl.ngModelShared"
                        options="demoCtrl.moreOptions"
                        title="Shared model with select all">
                    </rb-check-control-group>
                    <pre>{{ demoCtrl.ngModelShared }}</pre>
                </form>
            </rb-component-display>
            <rb-component-display>
                <form name="checkControlSelectAllForm">
                    <rb-check-control-group
                        enable-select-all=true
                        form="checkControlSelectAllForm"
                        name="check-control-select-all"
                        ng-model="demoCtrl.ngModelSelectAll"
                        options="demoCtrl.selectAllOptions"
                        title="Select All">
                    </rb-check-control-group>
                    <pre>{{ demoCtrl.ngModelSelectAll }}</pre>
                </form>
            </rb-component-display>
            <rb-component-display>
                <form name="checkControlForm">
                    <rb-check-control-group
                        form="checkControlForm"
                        name="check-control-two-col"
                        ng-model="demoCtrl.ngModelTwoColumns"
                        options="demoCtrl.columnOptions"
                        columns="2"
                        title="2 Columns">
                    </rb-check-control-group>
                    <pre>{{ demoCtrl.ngModelTwoColumns }}</pre>
                </form>
            </rb-component-display>
            <rb-component-display>
                <form name="checkControlForm">
                    <rb-check-control-group
                        form="checkControlForm"
                        name="check-control-three-col"
                        ng-model="demoCtrl.ngModelThreeColumns"
                        options="demoCtrl.columnOptions"
                        columns="3"
                        title="3 Columns">
                    </rb-check-control-group>
                    <pre>{{ demoCtrl.ngModelThreeColumns }}</pre>
                </form>
            </rb-component-display>
        </rb-section>
    </rb-main>
</rb-site>
