/** @define LoginForm; use strict */

/**
 * The `.LoginForm` component is a composed form component.
 */

:root {
    --LoginForm-color: var(--color-white-alabaster);
}

/**
 * 1. Comment
 */

.LoginForm {
    color: var(--LoginForm-color);
}

.LoginForm-icon {
    background: url("./images/logo-rockabox.svg") no-repeat;
    margin: 0 2.75em 2.25em;
    text-align: center;
    width: 175px;
    height: 30px;
}

.LoginForm-control {
    margin-bottom: 0.25em;
}

.LoginForm-button {
    margin-top: 1em;
}
