<div class="LoginForm">
    <div class="LoginForm-icon">
        <rb-icon icon="{{::icon}}"></rb-icon>
    </div>
    <form name="loginForm" class="LoginForm-body">
        <fieldset>
            <div class="LoginForm-control">
                <rg-text-control
                    form="loginForm"
                    label="Email">
                    <input type="email"
                           name="email"
                           placeholder="Email"
                           ng-model="emailModel"
                           ng-required="true"
                           custom-validation>
                </rg-text-control>
            </div>
            <div class="LoginForm-control">
                <rg-text-control
                    form="loginForm"
                    label="Password">
                    <input type="password"
                           name="password"
                           placeholder="Password"
                           ng-model="passwordModel"
                           ng-required="true">
                </rg-text-control>
            </div>
        </fieldset>
        <rb-form-message ng-if="message">{{ message }}</rb-form-message>
        <fieldset class="LoginForm-button">
            <rb-button block="yes" state="positive" ng-disabled="loginForm.$invalid" ng-click="onLogin()" type="submit">Login</rb-button>
        </fieldset>
    </form>
</div>
