<div class="CheckWithTextControlGroup">
    <div class="CheckWithTextControlGroup-item" ng-repeat="option in options">
        <rb-check-with-text-control
            form="form"
            name="{{ ::name }}_{{ ::option.value }}"
            label="{{ ::option.label }}"
            ng-model="internalModel[option.value]"
            checkbox-value="{{ ::option.value }}"
            text-placeholder="{{ ::textPlaceholder }}"
            checkbox-key="{{ ::checkboxKey }}"
            text-key="{{ ::textKey }}"
        ></rb-check-with-text-control>
    </div>
</div>
