/** @define OverlayPanel; use strict */

/**
 * The `.OverlayPanel` component...
 */

:root {
    --OverlayPanel-close-border-radius: 3px;
}

/**
 * 1. Comment
 */

.OverlayPanel {
    background: var(--color-base-background);
    color: var(--color-base-font);
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 85%;
}

.OverlayPanel-close {
    left: 85%;
    position: absolute;
}

.OverlayPanel-button {
    background: var(--color-red-base) url("./images/close.svg") no-repeat center;
    border-bottom-right-radius: var(--OverlayPanel-close-border-radius);
    border-top-right-radius: var(--OverlayPanel-close-border-radius);
    color: var(--color-white-alabaster);
    cursor: pointer;
    display: block;
    height: 3em;
    width: 3em;
}
