/** @define OverlayPanel; use strict */

/**
 * The `.OverlayPanel` component...
 */

:root {
    --OverlayPanel-variable: var();
}

/**
 * 1. Comment
 */

.OverlayPanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: var(--color-base-background);
    color: var(--color-base-font);
    overflow-y: scroll;
}

.OverlayPanel-close {
    position: absolute;
    display: block;
    left: 90%;
    width: 60px;
    height: 60px;
    background-color: red;
    color: white;
    cursor: pointer;
}
