<rb-site>
    <rb-main>
        <rb-overlay-panel>
            <rb-panel-content>
                <rb-panel-content-top>
                    <rb-page-title heading="rb-scrollspy">
                        <rb-deep-search
                            ng-model="demoCtrl.categories"
                            placeholder="Search list...">
                        </rb-deep-search>
                    </rb-page-title>
                </rb-panel-content-top>
                <rb-panel-content-middle-unscrollable>
                    <rb-scrollspy categories="demoCtrl.categories" offset="0" scroll-id="container">

                        <div ng-repeat="category in demoCtrl.categories">
                            <h2 id="{{ category.anchor }}" ng-hide="category.hidden">
                                {{ category.label }}
                            </h2>
                            <ul>
                                <li ng-repeat="section in category.items"  id="{{ section.anchor }}">
                                    <h3 ng-hide="section.hidden">
                                        {{ section.label }}
                                    </h3>
                                    <ul>
                                        <li ng-repeat="item in section.items">
                                            <span ng-if="!item.hidden">{{ item.label }}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </rb-scrollspy>
                </rb-panel-content-middle-unscrollable>
            </rb-panel-content>
        </rb-overlay-panel>
    </rb-main>
</rb-site>
